<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Translation Results</title>
</head>
<body>
    <section class="container my-5">
        <h1 class="mb-4">Translation Results</h1>
        <ul class="list-group">
            <li class="list-group-item"><strong>Original Text:</strong> {{ original_text }}</li>
            <li class="list-group-item"><strong>Translation:</strong> {{ translated_text }}</li>
            <li class="list-group-item"><strong>Translated to:</strong> {{ target_language }}</li>
        </ul>
        <div class="mt-4">
            <a class="btn btn-primary" href="{{ url_for('index') }}">Translate More</a>
        </div>
    </section>
</body>
</html>
